[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BiMaUmisc"]
	path = BiMaUmisc
	url = https://github.com/cran/BiMaUmisc
[submodule "TDIagree"]
	path = TDIagree
	url = https://github.com/cran/TDIagree
